<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="logs/nlog-internal.log">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="File"
            name="file"
            fileName="logs/playerwallet-${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=tostring}"
            keepFileOpen="true"
            archiveEvery="Day"
            maxArchiveFiles="14" />

    <target xsi:type="Console"
            name="console"
            layout="${longdate}|${level:uppercase=true}|${logger:shortName=true}|${message} ${exception:format=tostring}" />
  </targets>

  <rules>
    <!-- Skip noisy Microsoft framework logs below Warn -->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="System.Net.Http.*" maxlevel="Info" final="true" />

    <logger name="*" minlevel="Debug" writeTo="file,console" />
  </rules>
</nlog>